.forgot-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 92vh;
    padding: 2rem;
    background-color: #f9f9f9;
}

.forgot-password-form {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    padding-right: 3rem;
    width: 90%;
    max-width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 5rem;
}

.feastly-logo {
    display: block;
    margin: 0 auto;
    margin-left: -0.5rem;
    margin-bottom: -2rem;

}

.forgot-password-input {
    width: calc(100% - 2rem);
    padding: 0.75rem;
    margin: 0.5rem 1rem;
    margin-left: 2rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #f3f3f3;
}

.forgot-password-button {
    padding: 0.75rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 90%;
    margin-left: 1rem;
}

.forgot-password-button:hover {
    background-color: #0056b3;
}

.login-link {
    color: #007bff;
    text-decoration: none;
    margin-top: 1rem;
    font-size: 0.9rem;
    margin-left: 0.5rem;
}

.login-link:hover {
    text-decoration: underline;
}
