.logout-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
  }
  
  .logout-button {
    padding: 1rem 2rem;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.25rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .logout-button:hover {
    background-color: #cc0000;
  }
  