.logout-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  padding: 2rem;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #ff7e5f, #feb47b);
  padding: 1rem 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  max-width: 800px;
  margin: 0 auto;
}

.logout-button {
  padding: 1rem 2rem;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.25rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 2rem;
  align-self: center;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.logout-button:hover {
  background-color: #cc0000;
}
